*{
    padding:0;
    margin:0;
}
body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100vw;
    height: 100vh;
    background: radial-gradient(rgb(26, 26, 71),rgb(35, 17, 63));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.score{
    width:50%;
    height:15vh;
    color:#fafafa;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    border:2px solid #fafafa;
    padding:15px;
    position: fixed;
    top:15px;
}
.title{
    text-transform: uppercase;
}
.board{
    border-radius: 5px;
    color:rgb(29, 29, 114);
    background-color: #fafafa;
    width:10vw;
    text-align: center;
}
.board p{
    font-size: 1.75rem;
    font-weight: 1000;
}
.board h1{
    font-size: 3rem;
}
.game{
    height: 400px;
    width:500px;
    padding:25px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    background-image: url('../assets/triangle.png');
    background-position: center;
    background-repeat: no-repeat;
}
.paper{
    margin-right: 25px;
}
.stone{
    margin-left: 25px;
}
.hand{
    transition: all 0.25s;
}
.hand:hover{
    transform: translate3d(0px,-8px,0px);
    cursor: pointer;
}
.result{
    width:700px;
    height:400px;
    padding: 25px;
    display:none;
    justify-content: space-between;
    color:#fafafa;
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.result img{
    margin-top: 70px;
}
.refree h1,button{
    margin-top: 100px;
    flex:1;
    color:rgb(223, 182, 0);

}
.refree >button{
    border-radius: 10px;
    height:50px;
    width:10vw;
    text-align: center;
    border: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 1000;
    color:rgb(27, 27, 85);
    cursor: pointer;
    position: relative;
    left:15px;
}
